@import "abstracts/variables.sass"
@import "abstracts/mixins.sass"
@import "abstracts/functions.sass"
@import "base/animations.sass"





*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5% //чтоб легче ремы считать

body
    font-family: "Roboto", sans-serif
    font-weight: 400
    color: $color-grey
    font-size: 1.6rem
    letter-spacing: .2rem
    padding: 5rem
    background-color: $color-white

.container
    background-color:#F7F7F7

.header
    position: relative
    height: 95vh
    background: linear-gradient(90deg, rgba($color-brown-light, 0.70) 0.03%, rgba($color-black, 0.70) 99.94%), url('../img/header-background.jpg') center / cover no-repeat
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 79%)
    &__logo
        position: absolute
        left: 5rem
        top: 5rem
        height: 7rem
        width: 5.6rem
    &__box
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        width: 100%
        text-align: center


.title-first
    color: $color-white

    &__main
        display: block
        font-size: 5rem
        font-weight: 800
        letter-spacing: 1rem
        text-transform: uppercase
        margin-bottom: 1rem
        animation-name: leftToRight
        animation-duration: 4s
        animation-timing-function: ease
        backface-visibility: hidden
    &__secondary
        display: block
        font-size: 4rem
        font-weight: 100
        letter-spacing: .5rem
        animation-name: rightToLeft
        animation-duration: 4s
        backface-visibility: hidden
        margin-bottom: 5rem

.btn
    &:link, &:visited
        @include style-link(#777777)
        background: $color-white
        border-radius: 5rem
        padding: 1.5rem 4rem
        transition: all .3s
        position: relative
        font-size: 2rem
    &:hover
        transform: translateY(-0.5rem)
        box-shadow: $box-shadow
        &::after
            opacity: 0
            transform: scaleX(1.5) scaleY(1.7)
    &:active
        transform: translateY(-0.3rem)
        box-shadow: $box-shadow
    &::after
        content: "" //надо очень
        background: white
        width: 100%
        height: 100%
        border-radius: 5rem
        display: inline-block
        position: absolute
        top: 0
        left: 0
        z-index: -1
        transition: all 1s
    &_animated
        animation: opacityOfBtn 4s ease-out .7s
        animation-fill-mode: backwards


